<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="DynamicContent">
          <match url="/*" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
    <iisnode 
      loggingEnabled="true" 
      devErrorsEnabled="true">
      <environmentVariables>
        <environmentVariable name="NODE_ENV" value="qa4" />
        <environmentVariable name="API_KEY" value="11053895d41b491f900c9813e8f05115" />
      </environmentVariables>
    </iisnode>
  </system.webServer>
</configuration>
